Repository davidleathers113/dependable-call-exchange-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, golangci-lint, smell-test-quick, openapi-validation, contract-tests-quick

go-fmt:
  name: go fmt
  entry: gofmt -l
  language: system

go-imports:
  name: goimports
  entry: goimports -l
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

smell-test-quick:
  name: Quick smell test
  entry: make smell-test-quick
  language: system
  pass_filenames: false

openapi-validation:
  name: Validate OpenAPI Specification
  entry: sh -c
  args:
  ...

contract-tests-quick:
  name: Quick Contract Tests
  entry: sh -c
  args:
  ...

feat: implement true parallel execution for DCE infinite loop system
  .claude/PARALLEL_EXECUTION.md
  .claude/README.md
  .claude/commands/dce-feature-parallel.md
  .claude/commands/dce-feature.md
  .claude/commands/dce-master-plan.md
  .claude/commands/orchestrator.md
  .claude/commands/test-infinite-original.md
  .claude/prompts/specialists/entity-architect.md
  .claude/prompts/specialists/repository-builder.md
  .claude/prompts/specialists/service-orchestrator.md
  CLAUDE_SETUP.md
  planning/README.md
  planning/specs/example-parallel-ready.md
  planning/specs/example.md
  planning/specs/ui-comparison-test.md
Due: none

refactor: reorganize Claude command structure
  .claude/MIGRATION_2025.md
  .claude/commands/dce-feature-parallel.md
  .claude/commands/dce-master-plan.md
  .claude/commands/orchestrator.md
  .claude/commands/test-infinite-original.md
  .claude/planning/README.md
  .claude/planning/implementation-timeline-dependencies.md
  .claude/planning/master-plan-compliance-critical.md
  .claude/planning/opportunity-matrix-consolidated.md
  .claude/planning/plan-status.md
  .claude/planning/prioritized-features-top20.md
  .gitignore
  test/.claude/commands/claude-testing-orchestrator.md
  test/.claude/commands/claude-testing-review.md
Due: none

fix(consent): resolve preferences data flow from request to response
  internal/domain/consent/consent.go
  internal/service/consent/service.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

chore: remove obsolete documentation and planning files
  .claude/MIGRATION_2025.md
  .claude/PARALLEL_EXECUTION.md
  .claude/planning/master-plan-compliance-critical.md
  CLAUDE_SETUP.md
  docs/CLAUDE_MD_REFACTORING.md
  planning/README.md
  planning/specs/example-parallel-ready.md
  planning/specs/example.md
  planning/specs/ui-comparison-test.md
Due: none

feat: add Claude AI command system and automation scripts
  .claude/archives/README.md
  .claude/archives/context/execution-queue-enhanced-20250112.yaml
  .claude/archives/docs/SYSTEM_IMPROVEMENT_GUIDE.md
  .claude/archives/planning/master-plan-compliance-critical-20250115.md
  .claude/archives/readme-update-summary.md
  .claude/commands/dce-check-work.md
  .claude/commands/dce-feature-continue.md
  .claude/commands/dce-feature-resume.md
  .claude/commands/dce-feature-retry.md
  .claude/commands/dce-feature.md
  .claude/commands/dce-find-work.md
  .claude/commands/dce-research.md
  .claude/commands/dce-system-improve.md
  .claude/commands/github.md
  .claude/scripts/README.md
  .claude/scripts/bridge-converter.sh
  .claude/scripts/reorganize.sh
  .claude/state/analysis-history.yaml
  .claude/state/dependency-graph.yaml
  .claude/state/execution-log.json
  .claude/state/feature-progress.yaml
  .claude/state/performance-metrics.yaml
  .claude/state/progress-tracker.yaml
  .claude/state/system-snapshot.yaml
  .claude/work-discovery/criteria.yaml
Due: none

docs: update project documentation and status
  .claude/README.md
  CLAUDE.md
Due: none

feat(consent): implement consent service layer
  internal/service/consent/compliance_adapter.go
  internal/service/consent/event_publisher.go
  internal/service/consent/interfaces.go
  internal/service/consent/mappers.go
  internal/service/consent/mocks_test.go
  internal/service/consent/routing_adapter.go
  internal/service/consent/service.go
  internal/service/consent/service_bench_test.go
  internal/service/consent/service_test.go
  internal/service/consent/test_helpers.go
  internal/service/consent/transaction_manager.go
  internal/service/consent/websocket_publisher.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(consent): implement consent infrastructure layer
  internal/infrastructure/cache/consent_cache.go
  internal/infrastructure/database/consent_event_store.go
  internal/infrastructure/database/consent_query_repository.go
  internal/infrastructure/database/consent_repository.go
  internal/infrastructure/database/consent_repository_test.go
  internal/infrastructure/database/consumer_repository.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(api): add consent management REST and WebSocket endpoints
  internal/api/rest/consent_handlers.go
  internal/api/rest/handlers.go
  internal/api/rest/server.go
  internal/api/websocket/consent_events.go
  internal/api/websocket/handlers.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick, contract-tests-quick

test: add comprehensive consent management test suites
  test/e2e/consent_e2e_test.go
  test/integration/consent_integration_test.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(db): add consent management database schema
  migrations/20250106_create_consent_tables.sql
Due: none

refactor: integrate consent management into existing services
  configs/config.yaml
  internal/domain/errors/errors.go
  internal/infrastructure/repository/repositories.go
  internal/service/callrouting/interfaces.go
  internal/service/callrouting/service.go
  internal/service/callrouting/service_test.go
  internal/service/factories.go
  internal/service/fraud/service.go
  internal/service/fraud/service_test.go
  internal/testutil/database.go
  main.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

docs: add comprehensive DNC integration and audit system documentation
  .claude/COMMAND_REFERENCE.md
  .claude/IMMUTABLE_AUDIT_COMPLETION.md
  .claude/INDEX.md
  .claude/QUICKSTART.md
  .claude/README.md
  .claude/commands/dce-feature.md
  .claude/commands/dce-master-plan.md
  .claude/docs/AI_AGENT_GUIDE.md
  .claude/docs/AI_AGENT_QUICK_REF.md
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DOCUMENTATION_UPDATE_SUMMARY.md
  .claude/docs/HANDOFF_WORKFLOW.md
  .claude/docs/PARALLEL_EXECUTION.md
  .claude/docs/STATE_MANAGEMENT.md
  .claude/docs/TROUBLESHOOTING.md
  .claude/docs/WORKFLOWS.md
  .claude/docs/diagrams/agent-collaboration-patterns.md
  .claude/docs/diagrams/command-execution-flows.md
  .claude/docs/diagrams/context-bridge-system.md
  .claude/docs/diagrams/dce-system-overview.md
  .claude/docs/diagrams/interactive-workflow-guides.md
  .claude/docs/diagrams/optimization-strategy-visualizations.md
  .claude/docs/diagrams/parallel-vs-sequential.md
  .claude/docs/diagrams/performance-metrics-dashboard.md
  .claude/docs/diagrams/state-management-flow.md
  .claude/docs/diagrams/task-tool-architecture.md
  .claude/docs/diagrams/troubleshooting-decision-trees.md
  .claude/docs/diagrams/wave-execution-flow.md
  .claude/docs/in-depth-analysis.md
  .claude/my-project-instructions.md
  handover.md
  internal/api/rest/AUDIT_ADMIN_API.md
  internal/api/rest/audit_handlers_example.md
  internal/api/websocket/README_AUDIT_EVENTS.md
  internal/api/websocket/README_DNC_EVENTS.md
  internal/infrastructure/cache/audit_cache_README.md
  internal/infrastructure/cache/dnc_cache_README.md
  internal/infrastructure/database/audit_repository_README.md
  migrations/20250115_audit_schema_README.md
  test/security/AUDIT_SECURITY_IMPLEMENTATION.md
Due: contract-tests-quick

feat(database): add comprehensive audit and DNC database schemas
  migrations/20250114_audit_events_partitioned.sql
  migrations/20250115_audit_maintenance_scripts.sql
  migrations/20250115_create_audit_schema.down.sql
  migrations/20250115_create_audit_schema.up.sql
  migrations/20250117_add_archive_support.down.sql
  migrations/20250117_add_archive_support.sql
  migrations/20250614_191246_create_dnc_schema.down.sql
  migrations/20250614_191246_create_dnc_schema.up.sql
Due: none

feat(domain): implement DNC and audit domain entities with business logic
  internal/domain/audit/event.go
  internal/domain/audit/event_test.go
  internal/domain/audit/event_types.go
  internal/domain/audit/hash_chain_test.go
  internal/domain/audit/services.go
  internal/domain/audit/value_objects.go
  internal/domain/audit/value_objects_test.go
  internal/domain/dnc/check_result.go
  internal/domain/dnc/check_result_repository.go
  internal/domain/dnc/dnc.go
  internal/domain/dnc/entry.go
  internal/domain/dnc/entry_repository.go
  internal/domain/dnc/events/dnc_check_performed.go
  internal/domain/dnc/events/dnc_list_synced.go
  internal/domain/dnc/events/number_released.go
  internal/domain/dnc/events/number_suppressed.go
  internal/domain/dnc/provider.go
  internal/domain/dnc/provider_repository.go
  internal/domain/dnc/services/compliance_service.go
  internal/domain/dnc/services/conflict_resolver.go
  internal/domain/dnc/services/risk_assessment_service.go
  internal/domain/dnc/types/common.go
  internal/domain/values/check_type.go
  internal/domain/values/check_type_test.go
  internal/domain/values/list_source.go
  internal/domain/values/list_source_test.go
  internal/domain/values/suppress_reason.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(infrastructure): implement high-performance audit and DNC infrastructure
  internal/infrastructure/archive/README.md
  internal/infrastructure/archive/factory.go
  internal/infrastructure/archive/interfaces.go
  internal/infrastructure/archive/s3_archiver.go
  internal/infrastructure/archive/s3_archiver_test.go
  internal/infrastructure/cache/audit_cache.go
  internal/infrastructure/cache/audit_cache_test.go
  internal/infrastructure/cache/dnc_cache.go
  internal/infrastructure/cache/dnc_cache_test.go
  internal/infrastructure/cache/factory.go
  internal/infrastructure/cache/interfaces.go
  internal/infrastructure/database/audit_repository.go
  internal/infrastructure/database/audit_repository_test.go
  internal/infrastructure/database/dnc_check_result_repository.go
  internal/infrastructure/database/dnc_entry_repository.go
  internal/infrastructure/database/dnc_provider_repository.go
  internal/infrastructure/database/queries/dnc_optimization_analysis.md
  internal/infrastructure/database/queries/dnc_queries.sql
  internal/infrastructure/events/README.md
  internal/infrastructure/events/audit_publisher.go
  internal/infrastructure/events/audit_publisher_test.go
  internal/infrastructure/events/backpressure.go
  internal/infrastructure/events/cache_invalidator.go
  internal/infrastructure/events/dead_letter_queue.go
  internal/infrastructure/events/dnc_event_publisher.go
  internal/infrastructure/events/dnc_event_store.go
  internal/infrastructure/events/event_router.go
  internal/infrastructure/events/event_serializer.go
  internal/infrastructure/events/event_version_registry.go
  internal/infrastructure/events/factory.go
  internal/infrastructure/events/kafka_transport.go
  internal/infrastructure/events/streaming_manager.go
  internal/infrastructure/events/webhook_manager.go
  internal/infrastructure/events/websocket_transport.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(api): implement comprehensive REST and WebSocket APIs
  internal/api/graphql/dnc_schema.graphql
  internal/api/middleware/README.md
  internal/api/middleware/audit_init.go
  internal/api/middleware/audit_integration_example.go
  internal/api/middleware/audit_middleware.go
  internal/api/middleware/audit_middleware_test.go
  internal/api/rest/audit_admin_handlers.go
  internal/api/rest/audit_admin_handlers_test.go
  internal/api/rest/audit_admin_integration_example.go
  internal/api/rest/audit_handlers.go
  internal/api/rest/audit_service_types.go
  internal/api/rest/dnc_converters.go
  internal/api/rest/dnc_handlers.go
  internal/api/rest/request_types.go
  internal/api/rest/response_types.go
  internal/api/websocket/audit_events.go
  internal/api/websocket/audit_events_integration.go
  internal/api/websocket/dnc_events.go
  internal/api/websocket/handlers.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick, contract-tests-quick

feat(test): add comprehensive test suite and build configuration
  Makefile
  cmd/archiver/main.go
  configs/archive.yaml
  scripts/run-audit-benchmarks.sh
  test/compliance/README.md
  test/compliance/audit_compliance_test.go
  test/compliance/audit_helpers_test.go
  test/compliance/compliance_validation_test.go
  test/integration/audit_test.go
  test/security/audit_crypto_isolated_test.go
  test/security/audit_security_standalone_test.go
  test/security/audit_security_test.go
  test/security/auth_security_test.go
  test/security/security_test_helpers.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

feat(errors): add shared error handling package
  internal/errors/app_error.go
Due: go-fmt, go-imports, golangci-lint, smell-test-quick

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  golangci-lint: any of: \.go$
  smell-test-quick: any of: \.go$
  openapi-validation: any of: ^api/openapi\.yaml$
  contract-tests-quick: any of: ^(internal/api/rest/.*|test/contract/.*|api/openapi\.yaml)$
